<!-- breadcrumb_section - start
================================================== -->
<p-toast></p-toast>
<section class="breadcrumb_section text-center clearfix">
  <div class="page_title_area has_overlay d-flex align-items-center clearfix"
       style="background-image: url('../../../../assets/images/breadcrumb/bg_09.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <br><br><br>
      <h1 class="page_title text-white mb-0">Register</h1>
    </div>
  </div>
  <div class="breadcrumb_nav clearfix" style="background-color: #F2F2F2">
    <div class="container">
      <ul class="ul_li clearfix">
        <li><a [routerLink]="['/home']">Home</a></li>
        <li>Register</li>
      </ul>
    </div>
  </div>
</section>
<!-- breadcrumb_section - end
================================================== -->


<!-- register_section - start
================================================== -->
<section class="register_section sec_ptb_100 clearfix">
  <div class="container">


    <div class="register_card mb-0" style="background-color: #F2F2F2">
      <div class="section_title mb_30 text-center">
        <h2 class="title_text mb-0">
          <span>Register</span>
        </h2>
      </div>
      <form #signUpForm="ngForm">
        <div class="row justify-content-lg-between">
          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

            <!-- username -->
            <div class="form_item form-label-group input">
              <input #pseudoInput="ngModel"
                     [class.is-invalid]="pseudoInput.invalid && pseudoInput.touched"
                     [class.is-valid]="!(pseudoInput.invalid && pseudoInput.untouched)"
                     [(ngModel)]="username" class="form-control" type="text" name="username" id="username" required>
              <label for="username">username</label>
              <small id="pseudoError" class="text-danger"
                     [class.d-none]="pseudoInput.valid || pseudoInput.untouched">
                This field is required
              </small>
            </div>


            <!-- email -->
            <div class="form_item form-label-group input">
              <input #emailInput="ngModel"
                     pattern="^[aA-zZ0-9._%+-]+@[a-z0-9.-]+\.[aA-zZ]{2,4}$"
                     [class.is-invalid]="emailInput.invalid && emailInput.touched"
                     [class.is-valid]="!(emailInput.invalid && emailInput.untouched)"
                     class="form-control" type="email" id="inputEmail"
                     [(ngModel)]="userEmail" name="email" required>
              <label for="inputEmail">email</label>
              <div *ngIf="emailInput.errors && (emailInput.invalid ||emailInput.touched)">
                <small *ngIf="emailInput.errors.pattern" id="emailInvalid" class="text-danger">
                  {{emailInput.value}} is not valid email
                </small>
                <small *ngIf="emailInput.errors.required && emailInput.touched"
                       id="emailRequired" class="text-danger">
                  This field is required
                </small>
              </div>
            </div>

            <!-- password -->
            <div class="form_item form-label-group input">
              <input #passwordInput="ngModel"
                     [class.is-invalid]="passwordInput.invalid && passwordInput.touched"
                     [class.is-valid]="!(passwordInput.invalid && passwordInput.untouched)"
                     class="form-control" type="password" id="password"
                     [(ngModel)]="password" name="password" required>
              <label for="password">password</label>
              <small id="passwordError" class="text-danger" [class.d-none]="passwordInput.valid ||
                       passwordInput.untouched">A password is required
              </small>
            </div>

            <!-- phone number -->
            <div class="form_item form-label-group input">
              <input #phoneNumberInput="ngModel"
                     pTooltip="Eg : +32485601713" tooltipPosition="top"
                     [class.is-invalid]="phoneNumberInput.invalid && phoneNumberInput.touched"
                     [class.is-valid]="!(phoneNumberInput.invalid && phoneNumberInput.untouched)"
                     class="form-control" type="number" id="inputPhoneNumber"
                     [(ngModel)]="phoneNumber" name="phoneNumber" required>
              <label for="inputPhoneNumber">phone number</label>
              <div *ngIf="phoneNumberInput.errors && (phoneNumberInput.invalid ||phoneNumberInput.touched)">
                <small *ngIf="phoneNumberInput.errors.pattern" id="phoneNumberInputInvalid" class="text-danger">
                  {{phoneNumberInput.value}} is not a valid phone number
                </small>
                <small *ngIf="phoneNumberInput.errors.required && phoneNumberInput.touched"
                       id="phoneNumberRequired" class="text-danger">
                  This field is required
                </small>
              </div>
            </div>

            <div>
              <p style="cursor:default;" class="terms_condition p-text-italic">
                <i style="color : #4CAF50;" class="fas fa-info-circle mr-1"></i>
                Unverified accounts is deleted within 3 days.
              </p>
            </div>

          </div>

          <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">


            <!-- road -->
            <div class="form_item form-label-group input">
              <input #roadInput="ngModel"
                     [class.is-invalid]="roadInput.invalid && roadInput.touched"
                     [class.is-valid]="!(roadInput.invalid && roadInput.untouched)"
                     [(ngModel)]="road" class="form-control" type="text" name="road" id="road" required>
              <label for="road">road</label>
              <small id="roadError" class="text-danger"
                     [class.d-none]="roadInput.valid || roadInput.untouched">
                This field is required
              </small>
            </div>

            <!-- house number -->
            <div class="form_item form-label-group input">
              <input #houseNumberInput="ngModel"
                     pattern="^([1-9][0-9]{0,2}|1000)$"
                     [class.is-invalid]="houseNumberInput.invalid && houseNumberInput.touched"
                     [class.is-valid]="!(houseNumberInput.invalid && houseNumberInput.untouched)"
                     class="form-control" type="number" id="inputHouseNumber" min="1" max="1000"
                     [(ngModel)]="houseNumber" name="houseNumber" required>
              <label for="inputHouseNumber">house number</label>
              <div *ngIf="houseNumberInput.errors && (houseNumberInput.invalid ||houseNumberInput.touched)">
                <small *ngIf="houseNumberInput.errors.pattern" id="houseNumberInvalid" class="text-danger">
                  {{houseNumberInput.value}} is not valid email
                </small>
                <small *ngIf="houseNumberInput.errors.required && houseNumberInput.touched"
                       id="houseNumberRequired" class="text-danger">
                  This field is required
                </small>
              </div>
            </div>

            <!-- postcode -->
            <div class="form_item form-label-group input">
              <input #postCodeInput="ngModel"
                     [class.is-invalid]="postCodeInput.invalid && postCodeInput.touched"
                     [class.is-valid]="!(postCodeInput.invalid && postCodeInput.untouched)"
                     class="form-control" type="number" id="postCodeInput"
                     [(ngModel)]="postCode" name="postCode" required>
              <label for="postCodeInput">post code</label>
              <small id="postCodeInputError" class="text-danger"
                     [class.d-none]="postCodeInput.valid || postCodeInput.untouched">
                This field is required
              </small>
            </div>

            <!-- town -->
            <div class="form_item form-label-group input">
              <input #townInput="ngModel"
                     [class.is-invalid]="townInput.invalid && townInput.touched"
                     [class.is-valid]="!(townInput.invalid && townInput.untouched)"
                     class="form-control" type="text" id="townInput"
                     [(ngModel)]="townName" name="townName" required>
              <label for="townInput">town name</label>
              <small id="townError" class="text-danger"
                     [class.d-none]="townInput.valid || townInput.untouched">
                This field is required
              </small>
            </div>
            <p class="p-text-italic">
              Your email address and phone number are only intended to confirm your appointment and
              to contact you in the event of a change.
            </p>
            <button type="submit" [disabled]="signUpForm.invalid || verifyInputs" (click)="submit()"
                    class="custom_btn bg_default_red text-uppercase mb-0">Submit
              <img src="../../../../assets/images/icons/icon_01.png" alt="icon_not_found">
            </button>
          </div>

          <hr *ngIf="verifyInputs" data-aos="fade-up" data-aos-delay="200">

          <div  *ngIf="verifyInputs" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form_item form-label-group input">
              <input class="form-control" type="text" id="emailKey"
                     [(ngModel)]="emailKey" name="emailKey" required>
              <label for="emailKey">Enter verification key</label>
            </div>
          </div>

          <div  *ngIf="verifyInputs" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form_item">
              <button type="submit" [disabled]="!checkEmailKey() || verifiedEmailKey" (click)="verifyEmailKey()"
                      class="custom_btn bg_default_red text-uppercase mb-0">Verify
                <img src="../../../../assets/images/icons/icon_01.png" alt="icon_not_found"></button>
            </div>
          </div>

          <div *ngIf="verifyInputs" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form_item form-label-group input">
              <input class="form-control" type="number" id="phoneCode"
                     [(ngModel)]="phoneCode" name="phoneCode" required>
              <label for="phoneCode">Enter verification code</label>
            </div>
          </div>

          <div *ngIf="verifyInputs" class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="form_item">
              <button type="submit" [disabled]="!checkPhoneCode() || verifiedPhoneCode" (click)="verifyPhoneCode()"
                      class="custom_btn bg_default_red text-uppercase mb-0">Verify
                <img src="../../../../assets/images/icons/icon_01.png" alt="icon_not_found"></button>
            </div>

            <div class="form_item">
              <button type="submit" [disabled]="!checkBooking()" (click)="signUp()"
                      class="custom_btn bg_default_red text-uppercase mb-0">Sign up
                <img src="../../../../assets/images/icons/icon_01.png" alt="icon_not_found"></button>
            </div>
          </div>

        </div>
      </form>
    </div>


  </div>
</section>
<!-- register_section - end
================================================== -->

