<p></p>

<p-tabView>
  <p-tabPanel header="Car" rightIcon="fas fa-car" tooltip="car info">

    <h5>{{bookingDetails.username}}</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit,.</p>

    <p-divider align="left">
      <div class="p-d-inline-flex p-ai-center">
        <i class="pi pi-user p-mr-2"></i>
        <b>Icon</b>
      </div>
    </p-divider>

    <p>Sed ut perspiciatis unde omnis iste natus er.</p>

    <p-divider align="center">
      <span class="p-tag">Badge</span>
    </p-divider>

    <p>At vero eos et accusamus et iusto </p>

    <p-divider align="right">
      <p-button label="Button" icon="pi pi-search" styleClass="p-button-outlined"></p-button>
    </p-divider>

    <p>Temporibus autem quibusdam et aut officiis </p>
  </p-tabPanel>
  <p-tabPanel header="Car Model" rightIcon="fas fa-car" tooltip="car model">
    <p>Sed ut perspiciatis unde omnis is.</p>
  </p-tabPanel>
  <p-tabPanel header="Pricing" rightIcon="pi pi-star" tooltip="car pricing">
    <p>At vero eos et accusamus et iusto odio digni.</p>
  </p-tabPanel>
  <p-tabPanel header="Rent" leftIcon="pi pi-user" rightIcon="pi pi-star" tooltip="rent details">
    <p>At vero eos et accusamus et iusto odio digni.</p>
  </p-tabPanel>
</p-tabView>

<p-divider></p-divider>
<span style="float: right">
      <p-button icon="pi pi-check" label="Ok" styleClass="p-button-text"></p-button>
  </span>
<br>

