<header class="header_section secondary_header sticky text-white clearfix">
  <div class="header_top clearfix">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-7">
          <ul class="header_contact_info ul_li clearfix">
            <li><i class="fal fa-envelope"></i> he201718@students.ephec.be</li>
            <li><i class="fal fa-phone"></i> +32-485-601-713</li>
          </ul>
        </div>

        <div class="col-lg-5">
          <ul class="primary_social_links ul_li_right clearfix">
            <li><a><i class="fab fa-facebook-f"></i></a></li>
            <li><a><i class="fab fa-instagram"></i></a></li>
            <li><a><i class="fab fa-twitter"></i></a></li>
            <li><a><i class="fab fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="header_bottom clearfix">
    <div class="container">
      <div class="row align-items-center">

        <div class="col-lg-3 col-md-6 col-sm-6 col-6">
          <div class="brand_logo">
            <a [routerLink]="['/home']">
              <img src="../../../../assets/images/logo/logo_01_1x.png"
                   alt="logo_not_found">
              <img src="../../../../assets/images/logo/logo_02_1x.png"
                   alt="logo_not_found">
            </a>
          </div>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-6 col-6 order-last">
          <ul class="header_action_btns ul_li_right clearfix">
            <li>
              <button type="button" class="search_btn" data-toggle="collapse" data-target="#collapse_search_body"
                      aria-expanded="false" aria-controls="collapse_search_body">
                <i class="fal fa-search"></i>
              </button>
            </li>
            <li *ngIf="authService.currentUserValue && user?.bookingDTO" class="dropdown">
              <button type="button" class="cart_btn" id="cart_dropdown" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                <i class="fal fa-car" style="font-size: 1.2rem"></i>
                <span class="cart_counter bg_default_red">1</span>
              </button>
              <div class="cart_dropdown rotors_dropdown dropdown-menu" aria-labelledby="cart_dropdown">
                <h4 class="wrap_title">Active Reservations: (1)</h4>
                <ul class="cart_items_list ul_li_block clearfix">
                  <li>
                    <div class="item_image">
                      <img
                        src="../../../../assets/images/feature/super-small/{{user.bookingDTO.carDTO.modelDTO.brand}} {{user.bookingDTO.carDTO.modelDTO.modelType}}.jpg"
                        alt="image_not_found">
                    </div>
                    <div class="item_content">
                      <h4
                        class="item_title">{{user.bookingDTO.carDTO.modelDTO.brand}} {{user.bookingDTO.carDTO.modelDTO.modelType}}</h4>
                      <span class="item_price">{{user.bookingDTO.carDTO.licensePlate}}</span>
                    </div>
                  </li>
                </ul>
                <ul class="btns_group ul_li_block clearfix">
                  <li>
                    <a [routerLink]="['/reservation/recap', user.bookingDTO.bookingId]"
                      class="custom_btn bg_default_red text-uppercase">View Booking
                      <img src="../../../../assets/images/icons/icon_01.png" alt="icon_not_found">
                    </a>
                  </li>
                  <li>
                    <a (click)="confirmCancel()" class="custom_btn bg_default_black text-uppercase">Cancel
                      <img src="../../../../assets/images/icons/icon_01.png" alt="icon_not_found">
                    </a>
                  </li>
                </ul>
              </div>
            </li>
            <li *ngIf="authService.currentUserValue" class="dropdown">
              <button type="button" class="user_btn" id="user_dropdown" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                <i class="fal fa-user"></i>
              </button>
              <div class="user_dropdown rotors_dropdown dropdown-menu clearfix" aria-labelledby="user_dropdown">
                <div class="profile_info clearfix">
                  <a class="user_thumbnail">
                    <img src="../../../../assets/images/meta/img_01.png" alt="thumbnail_not_found">
                  </a>
                  <div class="user_content">
                    <h4 [routerLink]="['/profile']" class="user_name"><a>{{username}}</a></h4>
                    <span class="user_title">{{userRole}}</span>
                  </div>
                </div>
                <ul class="ul_li_block clearfix">
                  <li><a [routerLink]="['/profile']"><i class="fal fa-user-circle"></i> Profile</a></li>
                  <li><a><i class="fal fa-user-cog"></i> Settings</a></li>
                  <li><a (click)="onLogOutClick()"><i class="fal fa-sign-out"></i> Logout</a></li>
                </ul>
              </div>
            </li>
            <li *ngIf="authService.currentUserValue">
              <button type="button" class="mobile_sidebar_btn">
                <i class="fal fa-align-right"></i></button>
            </li>
            <li *ngIf="!authService.currentUserValue" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }">
              <button [routerLink]="['/login']" type="button" pTooltip="Sign In" tooltipPosition="top">
                <i class="fal fa-sign-in"></i>
              </button>
            </li>
            <li *ngIf="!authService.currentUserValue" [routerLinkActive]="['active']"
                [routerLinkActiveOptions]="{ exact: true }">
              <button [routerLink]="['/register']" type="button" pTooltip="Sign Up" tooltipPosition="top">
                <i class="fal fa-user-plus"></i>
              </button>
            </li>
          </ul>
        </div>

        <div class="col-lg-6 col-md-12">
          <nav class="main_menu clearfix">
            <ul class="ul_li_center clearfix">
              <li [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{ exact: true }">
                <a [routerLink]="['/home']">Home</a>
              </li>
              <li [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{ exact: true }">
                <a [routerLink]="['/gallery']">Our Cars</a>
              </li>
              <li [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{ exact: true }">
                <a>Reviews</a>
              </li>
              <li [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{ exact: true }">
                <a [routerLink]="['/about']">About</a></li>
              <li [routerLinkActive]="['active']"
                  [routerLinkActiveOptions]="{ exact: true }">
                <a [routerLink]="['/contact']">Contact Us</a>
              </li>
            </ul>
          </nav>
        </div>

      </div>
    </div>
  </div>

  <div id="collapse_search_body" class="collapse_search_body collapse">
    <div class="search_body">
      <div class="container">
        <form action="#">
          <div class="form_item">
            <input type="search" name="search" placeholder="Type here...">
            <button type="submit"><i class="fal fa-search"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>
</header>
