
<!-- breadcrumb_section - start
================================================== -->
<section class="breadcrumb_section text-center clearfix">
  <div class="page_title_area has_overlay d-flex align-items-center clearfix"
        style="background-image: url('../../../../assets/images/breadcrumb/bg_02.jpg')">
    <div class="overlay"></div>
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <br><br>
      <h1 class="page_title text-white mb-0">About Us</h1>
    </div>
  </div>
  <div class="breadcrumb_nav clearfix" style="background-color: #F2F2F2">
    <div class="container">
      <ul class="ul_li clearfix">
        <li><a >Home</a></li>
        <li>About</li>
      </ul>
    </div>
  </div>
</section>
<!-- breadcrumb_section - end
================================================== -->


<!-- service_section - start
    ================================================== -->
<section class=" service_section sec_ptb_150 pb-0 mb_100 text-white clearfix"
         data-bg-gradient="linear-gradient(0deg, #0C0C0F, #292D45)">
  <div class="container" style="background-color: #161829">
    <br>
    <div class="section_title mb_30 text-center" data-aos="fade-up" data-aos-delay="100">
      <h2 class="title_text text-white mb-0">
        <span>Why Usd</span>
      </h2>
    </div>

    <div class="row justify-content-center">
      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="service_primary text-center text-white" data-aos="fade-up" data-aos-delay="100">
          <div class="item_icon">
            <i class="far fa-shield-alt"></i>
          </div>
          <h3 class="item_title text-white">Secured Payment Guarantee</h3>
          <p class="mb-0">
            Vestibulum at ultrices elit. Maecenas faucibus vulputate vestibulum
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="service_primary text-center text-white" data-aos="fade-up" data-aos-delay="300">
          <div class="item_icon">
            <i class="fal fa-headset"></i>
          </div>
          <h3 class="item_title text-white">Help Center & Support 24/7</h3>
          <p class="mb-0">
            Vestibulum at ultrices elit. Maecenas faucibus vulputate vestibulum
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="service_primary text-center text-white" data-aos="fade-up" data-aos-delay="500">
          <div class="item_icon">
            <i class="far fa-shield-alt"></i>
          </div>
          <h3 class="item_title text-white">Booking any Class Vehicles</h3>
          <p class="mb-0">
            Vestibulum at ultrices elit. Maecenas faucibus vulputate vestibulum
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="service_primary text-center text-white" data-aos="fade-up" data-aos-delay="100">
          <div class="item_icon">
            <i class="fas fa-briefcase"></i>
          </div>
          <h3 class="item_title text-white">Corporate and Business Services</h3>
          <p class="mb-0">
            Vestibulum at ultrices elit. Maecenas faucibus vulputate vestibulum
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="service_primary text-center text-white" data-aos="fade-up" data-aos-delay="300">
          <div class="item_icon">
            <i class="fas fa-user-plus"></i>
          </div>
          <h3 class="item_title text-white">Car Sharing Options</h3>
          <p class="mb-0">
            Vestibulum at ultrices elit. Maecenas faucibus vulputate vestibulum
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
        <div class="service_primary text-center text-white" data-aos="fade-up" data-aos-delay="500">
          <div class="item_icon">
            <i class="fas fa-gem"></i>
          </div>
          <h3 class="item_title text-white">Limousine and Chauffeur Hire</h3>
          <p class="mb-0">
            Vestibulum at ultrices elit. Maecenas faucibus vulputate vestibulum
          </p>
        </div>
      </div>
    </div>
    <br>
  </div>
</section>
<!-- service_section - end
================================================== -->
