<!-- breadcrumb_section - start
    ================================================== -->
<p-toast></p-toast>
<section class="breadcrumb_section text-center clearfix">
  <div class="page_title_area has_overlay d-flex align-items-center clearfix"
        style="background-image: url('../../../../assets/images/breadcrumb/bg_06.jpg')">
    <div class="overlay"></div>
    <div class="container" data-aos="fade-up" data-aos-delay="100">
      <br><br>
      <h1 class="page_title text-white mb-0">Contacts</h1>
    </div>
  </div>
  <div class="breadcrumb_nav clearfix" style="background-color: #F2F2F2">
    <div class="container">
      <ul class="ul_li clearfix">
        <li><a >Home</a></li>
        <li>Contact Us</li>
      </ul>
    </div>
  </div>
</section>
<!-- breadcrumb_section - end
================================================== -->

<!-- contact_section - start
================================================== -->
<section class="contact_section clearfix" style="margin-top: 180px">
  <div class="container">
    <div class="contact_details_wrap text-white" style="background-color: #1F2B3E">
      <div class="row justify-content-lg-between">
        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
          <div class="image_area">
            <div class="brand_logo mb_15">
              <a href="index.html">
                <img src="assets/images/logo/logo_01_1x.png" srcset="../../../../assets/images/logo/logo_01_2x.png 2x" alt="logo_not_found">
              </a>
            </div>
            <p class="mb_30">
              Mauris dignissim condimentum viverra. Curabitur blandit eu justo id porta
            </p>
            <div class="image_wrap">
              <img src="../../../../assets/images/about/img_022.jpg" alt="image_not_found">
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <div class="content_area">
            <h3 class="item_title text-white mb_30">Contact Details:</h3>
            <ul class="ul_li_block mb_30 clearfix">
              <li>
                <i class="fas fa-map-marker-alt"></i>
                Rue Wiertz 60, B 1047 Brussels, Belgium
              </li>
              <li><i class="fas fa-clock"></i> WH: 8:00am - 18:30pm</li>
              <li><i class="fas fa-phone"></i> +32 485 650 713</li>
              <li><i class="fas fa-envelope"></i> he201718@students.ephec.be</li>
            </ul>
            <form action="#">
              <div class="form_item mb-0">
                <input id="search_input" type="search" name="search" placeholder="Search">
                <label for="search_input" class="input_icon"><i class="fal fa-search"></i></label>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- contact_section - end
================================================== -->


<!-- contact_form_section - start
================================================== -->
<section class="contact_form_section sec_ptb_100 clearfix">
  <div class="container">

    <div class="section_title mb_60 text-center">
      <h2 class="title_text mb-0">
        <span>Send Us a Message</span>
      </h2>
    </div>

    <form #contactForm="ngForm">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">

          <!-- firstName -->
          <div class="form_item form-label-group input">
            <input #firstNameInput="ngModel"
                   [class.is-invalid]="firstNameInput.invalid && firstNameInput.touched"
                   [class.is-valid]="!(firstNameInput.invalid && firstNameInput.untouched)"
                   class="form-control" type="text" id="firstName"
                   [(ngModel)]="firstName" name="firstName"
                   placeholder="firstName" required>
            <label for="firstName">first name</label>
            <small id="firstNameError" class="text-danger"
                   [class.d-none]="firstNameInput.valid || firstNameInput.untouched">
              This field is required
            </small>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <!-- lastName -->
          <div class="form_item form-label-group input">
            <input #lastNameInput="ngModel"
                   [class.is-invalid]="lastNameInput.invalid && lastNameInput.touched"
                   [class.is-valid]="!(lastNameInput.invalid && lastNameInput.untouched)"
                   class="form-control" type="text" id="lastName" placeholder="lastName"
                   [(ngModel)]="lastName" name="lastName" required>
            <label for="lastName">last name</label>
            <small id="lastNameError" class="text-danger"
                   [class.d-none]="lastNameInput.valid || lastNameInput.untouched">
              This field is required
            </small>
          </div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <!-- email -->
          <div class="form_item form-label-group input">
            <input #emailInput="ngModel"
                   pattern="^[aA-zZ0-9._%+-]+@[a-z0-9.-]+\.[aA-zZ]{2,4}$"
                   [class.is-invalid]="emailInput.invalid && emailInput.touched"
                   [class.is-valid]="!(emailInput.invalid && emailInput.untouched)"
                   class="form-control" type="email" id="inputEmail" placeholder="email"
                   [(ngModel)]="email" name="email" required>
            <label for="inputEmail">email</label>
            <div *ngIf="emailInput.errors && (emailInput.invalid ||emailInput.touched)">
              <small *ngIf="emailInput.errors.pattern" id="emailInvalid" class="text-danger">
                {{emailInput.value}} is not valid email
              </small>
              <small *ngIf="emailInput.errors.required && emailInput.touched"
                     id="emailRequired" class="text-danger">
                This field is required
              </small>
            </div>
          </div>

        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          <!-- phone number -->
          <div class="form_item form-label-group input">
            <input #phoneNumberInput="ngModel"
                   pTooltip="Eg : +32485601713" tooltipPosition="top"
                   [class.is-invalid]="phoneNumberInput.invalid && phoneNumberInput.touched"
                   [class.is-valid]="!(phoneNumberInput.invalid && phoneNumberInput.untouched)"
                   class="form-control" type="number" id="inputPhoneNumber" placeholder="phone number eg : +32485601713"
                   [(ngModel)]="phoneNumber" name="phoneNumber" required>
            <label for="inputPhoneNumber">phone number eg : +32485601713</label>
            <div *ngIf="phoneNumberInput.errors && (phoneNumberInput.invalid ||phoneNumberInput.touched)">
              <small *ngIf="phoneNumberInput.errors.pattern" id="phoneNumberInputInvalid" class="text-danger">
                {{phoneNumberInput.value}} is not a valid phone number
              </small>
              <small *ngIf="phoneNumberInput.errors.required && phoneNumberInput.touched"
                     id="phoneNumberRequired" class="text-danger">
                This field is required
              </small>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="form_item form-label-group textarea">
        <textarea #messageInput="ngModel"
               [class.is-invalid]="messageInput.invalid && messageInput.touched"
               [class.is-valid]="!(messageInput.invalid && messageInput.untouched)"
               class="form-control" id="message" placeholder="message"
                  [(ngModel)]="message" name="message" required>
        </textarea>
        <label *ngIf="messageInput.untouched" for="message">your message</label>
        <label *ngIf="messageInput.valid" for="message">{{512 - messageInput.value?.toString().length}}   characters left</label>
        <small class="text-danger" [class.d-none]="messageInput.valid ||
                messageInput.untouched">This field is required</small>
      </div>
      <div class="abtn_wrap text-center clearfix">
        <button type="submit" value="submit" [disabled]="contactForm.form.invalid"
                (click)="onSubmit()"
                class="custom_btn btn_width bg_default_red text-uppercase">
          Send a Message <img src="assets/images/icons/icon_01.png" alt="icon_not_found"></button>
      </div>
    </form>

  </div>
</section>
<!-- contact_form_section - end
================================================== -->
