<!-- breadcrumb_section - start
================================================== -->

<p-toast></p-toast>
<section class="breadcrumb_section text-center clearfix">
  <div class="page_title_area has_overlay d-flex align-items-center clearfix"
       style="background-image: url('../../../../assets/images/breadcrumb/bg_09.jpg')">
    <div class="overlay"></div>
    <div class="container">
      <br><br><br>
      <h1 class="page_title text-white mb-20">Login</h1>
    </div>
  </div>
  <div class="breadcrumb_nav clearfix" data-bg-color="#F2F2F2" style="background-color: #F2F2F2">
    <div class="container">
      <ul class="ul_li clearfix">
        <li><a [routerLink]="['/home']">Home</a></li>
        <li>Login</li>
      </ul>
    </div>
  </div>
</section>
<!-- breadcrumb_section - end
================================================== -->

<!-- register_section - start
================================================== -->
<section class="register_section sec_ptb_100 clearfix">
  <div class="container">

    <div style="background-color: #F2F2F2" class="register_card mb_60" data-aos="fade-up"
         data-aos-delay="100">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <div class="reg_image">
            <img src="../../../../assets/images/about/login.png" alt="image_not_found">
          </div>
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
          <div class="reg_form">
            <h3 class="form_title">LogIn:</h3>
            <p>
              Savings of up to 15% with our car rental solutions, global coverage and a dedicated customer team
            </p>
            <span class="new_account mb_15">Log In or <a [routerLink]="['/register']">Create an Account?</a></span>
            <form #signUpForm="ngForm">
              <!-- Username or email-->
              <div class="form_item  form-label-group input">
                <input #pseudoInput="ngModel"
                       [class.is-invalid]="pseudoInput.invalid && pseudoInput.touched"
                       [class.is-valid]="!(pseudoInput.invalid && pseudoInput.untouched)"
                       class="form-control" type="email" id="pseudo"
                       [(ngModel)]="pseudo" name="pseudo"
                       placeholder="Pseudonyme" required>
                <label for="pseudo">username or email</label>
                <small id="pseudoError" class="text-danger"
                       [class.d-none]="pseudoInput.valid || pseudoInput.untouched">
                  This field is required
                </small>
              </div>
              <!-- password -->
              <div class="form_item  form-label-group input">
                <input #passwordInput="ngModel"
                       [class.is-invalid]="passwordInput.invalid && passwordInput.touched"
                       [class.is-valid]="!(passwordInput.invalid && passwordInput.untouched)"
                       class="form-control" type="password" id="password"
                       [(ngModel)]="password" name="password"
                       placeholder="Mot de passe" required>
                <label for="password">password</label>
                <small id="passwordError" class="text-danger" [class.d-none]="passwordInput.valid ||
                       passwordInput.untouched">A password is required</small>
              </div>
              <button type="submit" class="custom_btn carret bg_default_red text-uppercase"
                      (click)="onLoginSubmit()"
                      [disabled]="signUpForm.form.invalid">Login
                <img src="../../../../assets/images/icons/icon_01.png" alt="icon_not_found"></button>
              <span class="reset_pass mb_15"><a>Reset your Password by e-mail?</a></span>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- login_section - end
================================================== -->
