<div class="sidebar-menu-wrapper">
  <div class="mobile_sidebar_menu">
    <button type="button" class="close_btn"><i class="fal fa-times"></i></button>

    <div class="about_content mb_60">
      <div class="brand_logo mb_15">
        <a href="index.html">
          <img src="../../../../assets/images/logo/logo_01_1x.png" srcset="../../../../assets/images/logo/logo_01_2x.png 2x"
               alt="logo_not_found">
        </a>
      </div>
      <p class="mb-0">
        Rent Vehicle
      </p>
    </div>

    <div class="menu_list mb_60 clearfix">
      <h3 class="title_text text-white">Menu</h3>
      <ul class="ul_li_block clearfix">
        <li class="active dropdown">
          <a  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dashbord  <i class="fa fa-caret-down ml-2" aria-hidden="true"></i></a>
          <ul class="dropdown-menu">
            <li><a>Admin Dashboard</a></li>
            <li><a>User Dashboard</a></li>
          </ul>
        </li>
        <li><a >Reservations</a></li>
        <li><a >Our Cars</a></li>
        <li><a >Reviews</a></li>
        <li><a >Payments</a></li>
        <li><a >Maintenance</a></li>
        <li><a >Repair orders</a></li>
        <li><a >Notifications</a></li>
        <li><a >About</a></li>
        <li class="dropdown">
          <a  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pages
            <i class="fa fa-caret-down ml-2" aria-hidden="true"></i></a>
          <ul class="dropdown-menu">
            <li><a >Our Service</a></li>
            <li><a >Car Gallery</a></li>
            <li><a >My Account</a></li>
            <li><a >Reservation</a></li>
            <li class="dropdown">
              <a  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Blogs</a>
              <ul class="dropdown-menu">
                <li><a >Blog</a></li>
                <li><a >Blog Details</a></li>
              </ul>
            </li>
            <li class="dropdown">
              <a data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Our Cars</a>
              <ul class="dropdown-menu">
                <li><a >Cars</a></li>
                <li><a >Car Details</a></li>
              </ul>
            </li>
            <li><a >Shopping Cart</a></li>
            <li><a >F.A.Q.</a></li>
            <li><a >Login</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contact Us</a>
          <ul class="dropdown-menu">
            <li><a >Contact Default</a></li>
            <li><a >Contact Wordwide</a></li>
          </ul>
        </li>
      </ul>
    </div>

    <div class="booking_car_form">
      <h3 class="title_text text-white mb-2">Book A Car</h3>
      <p class="mb_15">
        Nullam id dolor auctor, dignissim magna eu, mattis ante. Pellentesque tincidunt, elit a facilisis efficitur.
      </p>
      <form action="#">
        <div class="form_item">
          <h4 class="input_title text-white">Pick Up Location</h4>
          <div class="position-relative">
            <input id="location_one" type="text" name="location" placeholder="City, State or Airport Code">
            <label for="location_one" class="input_icon"><i class="fas fa-map-marker-alt"></i></label>
          </div>
        </div>
        <div class="form_item">
          <h4 class="input_title text-white">Pick A Date</h4>
          <input type="date" name="date">
        </div>
        <button type="submit" class="custom_btn bg_default_red btn_width text-uppercase">Book A Car <img
          src="../../../../assets/images/icons/icon_01.png" alt="icon_not_found"></button>
      </form>
    </div>

  </div>
  <div class="overlay"></div>
</div>
